.signup-btn, .login-btn {
    padding: 0.5rem;
    width: 50%;
    height: 2.5rem;
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
}